@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


.logo-hd {
    margin-top: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

body{
    margin: 0px;
    background-color: rgb(45, 76, 45);
}

.container_cursu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap:20px;
}
.cursu{
    width: 300px;
    padding: 1px 15px 15px;
    border: 3px solid #ffd900;
    background-color: #b2c4a6;
}

.cursu h1{
    color: #006400;
    text-align: center;
}

.cursu img{
    width: 300px;
}



.disable{
    display: none;
}

.active{
    display: block;
}


.cursu_h1{
    border-radius: 20px;
    width: 100%;
    height: 60pxpx;
    background-color: #facc6b;
    background-image: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);;
}

.button_cursu {
    margin-top: 20px;
    background-color: #FFFAF0;
    border: 0px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: red;
    
}



.button_cursu img{
    width: 20px;
    height: 20px;
    float: right;
}


#misya_lite{
    display: none;
    animation: fadeInOut 1s ease;
}



.cursu ol{
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: "Roboto Slab", serif;
    margin-top: -2px;
    background-color: #FFFAF0;
}

.buy_button{
    border-radius: 30px;
    border: 2px solid blue;
    background-color: blue;
    height: 40px;
    margin-top: 20px;
    width: 80%;
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: 0.5s;/
}

.buy_button:hover{
    transform: scale(1.1);
}

.price{
    font-family: "Poetsen One", sans-serif;
    margin-top: -1px;
    margin-bottom: -5px;
}

#misya_vip{
    background-color: #FFFAF0;
    display: none;
    animation: fadeInOut 1s ease;
}

#pastula_z_nyla{
    background-color: #FFFAF0;
    display: none;
    animation: fadeInOut 1s ease;
}

.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
}

.category_block {
    position: relative;
    width: 300px;
}

.category_img{
    filter: brightness(80%);
    width: 100%;
}

.category_block:hover{
    transform: scale(1.1);
    transition: all 600ms;
}

.category_text_top{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 1;
}

.category_text_bottom{
    position: absolute;
    top: 10px;
    left: 130px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    z-index: 1;
}

.personal{
    background-color: rgba(255, 255, 255, 0.555);
}

.personal_h1{
    text-align: center;
    font-weight: bold;
}
.personal_p{
    padding: 15px;
    font-size: 18px;
}


.header_big {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px; /* Adjust the gap as needed */
}

.header_big h1 {
    margin: 0;
    font-size: 30px;
}

.header_big a {
    font-weight: bold;
    font-size: 30px;
    color: #fabc3c;
    text-align: center;
}

.header_big a:hover {
    transform: scale(1.1);
    transition: all 600ms;
}

/* Media query to hide the section on smaller screens */
@media (max-width: 768px) {
    .header_big {
        display: none;
    }
}

.header_small img {
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .header_small {
        display: none;
    }
}

#header_small_mobile {
    border-top-left-radius: 35px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    height: 100vh;
    width: 60%;
    z-index: 9999; /* Убедитесь, что значение z-index достаточно высоко, чтобы быть поверх всех других элементов */
    display: none; /* По умолчанию скрыт */
    text-align: center;
    padding-top: 30px;
}
#header_small_mobile a {
    font-size: 30px;
    font-weight: bold;
    display: block; 
    margin-bottom: 3px;
}

#header_small_mobile a:last-child {
    margin-bottom: 0;
}

#header_small_mobile a:hover{
    transform: scale(1.1);
    transition: all 600ms;
}

#mobile_close{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
}

.header_small_mobile_buy{
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: rgb(81, 81, 229);
    width: 140px;
    height: 50px;
}

.logo-container {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

.mobile_logo {
    width: 50px;
    height: 50px;
}

